.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #9053c7;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    color: #fff;
}